.episodeCard {
  box-shadow: var(--shadow);
  padding: 2rem 1rem;
  border-radius: var(--card-border-radius);
}

.episodeTitle {
  font-size: var(--font-size-l);
  font-weight: bold;
  margin-bottom: 1rem;
}

.episodeDescription {
  font-size: var(--font-size-m);
  margin-bottom: 1rem;
}
