.card {
  position: relative;
  isolation: isolate;
}

.imageSection {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: absolute;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 50%;
  overflow: hidden;
}

.contentSection {
  --extra-height: calc(var(--thumbnail-size) * 0.5);
  margin-top: calc(var(--extra-height) * (3 / 4));
  padding: calc(var(--extra-height) * (5 / 4)) 2rem 1rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow);
  text-align: center;
}

.contentTitle {
  margin-top: 0.5rem;
  font-size: var(--font-size-l);
  text-transform: uppercase;
}

.contentAuthor {
  margin-top: 1rem;
  font-size: var(--font-size-m);
  color: var(--text-secondary);
}
