.card {
  position: relative;
  isolation: isolate;
}

.imageSection {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: absolute;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 50%;
  overflow: hidden;
}

.contentSection {
  --extra-height: calc(var(--thumbnail-size) * 0.5);
  margin-top: calc(var(--extra-height) * (3 / 4));
  padding: calc(var(--extra-height) * (5 / 4)) 1rem 1rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contentTitle {
  margin-top: 0.5rem;
  font-size: var(--font-size-l);
  line-height: 1.2;
  text-transform: uppercase;
}

.contentAuthor {
  margin-top: 1rem;
  font-size: var(--font-size-m);
  color: var(--text-secondary);
}
